.footer{
    height: 60;
    background-color: $camel;
    font-family: SmallTypeWriting;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    
    a{
        margin-right:10% ;
        img{
        width: 30px;        
        transition: all 2s;
        }
        :hover{
            transform: scale(1.1, 1.1);

        }
        
    }
}
