@font-face {
    font-family: SmallTypeWriting;
    src: url(../FUENTES/SmallTypeWriting.ttf);
}
@font-face {
    font-family: PPEditorialNew-Ultralight;
    src: url(../FUENTES/PPEditorialNew-Ultralight.otf);
}
@font-face {
    font-family: Mulish-Italic-VariableFont_wght ;
    src: url(../FUENTES/Mulish-Italic-VariableFont_wght.ttf);
}